@model EmpDepartmentMap

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="MapId">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Mapping</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeId"></label>
            <select id="ddlEmployee" asp-for="EmployeeId" class="form-select">
                @{
                    <option value="0">-- Select Employee --</option>
                    foreach (var item in ViewBag.Employee)
                    {
                        <option value="@item.EmployeeId">
                            @item.FirstName  @item.LastName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="DepartmentId"></label>
            <select id="ddlDepartment" asp-for="DepartmentId" class="form-select">
                @{
                    <option value="0">-- Select Department --</option>
                    foreach (var item in ViewBag.depart)
                    {
                        <option value="@item.DepartmentId">
                            @item.Name
                        </option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
        <a asp-controller="EmpMapping" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>